.messagePage{}
.messagePage .list{
    display: flex;
    flex-direction: column;
}
.messagePage .list div.li .time{
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    color: #999;
}
.messagePage .list div.li .cont{
    background: #FFF;
    border-radius: 6px;
    margin: 0 20px;
    padding: 15px;
    box-shadow: 1px 2px 2px 2px rgba(200,200,200,.1);
}
.messagePage .list div.li .cont .tit{
    margin-bottom: 5px;
    font-size: 16px;
}
.messagePage .list div.li .cont .text{
    color: #999;
}
.messagePage .weui-loadmore_line .weui-loadmore__tips{
    background: #EEE;
}

.messagePage.AppPage.messagedetailPage{
    background: #FFF;
}
.messagePage.AppPage.messagedetailPage .time{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}
.messagePage.AppPage.messagedetailPage .cont{
    padding: 0 20px 15px 20px;
}
.messagePage.AppPage.messagedetailPage .cont .tit{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}
.fillerform{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    padding-right:  20px;
}
.fillerform .ant-input-group,
.fillerform .ant-btn.ant-btn-primary{
    width: auto;
    margin-left:10px;
}
.warningsearch {
    -webkit-flex-grow:1;
    flex-grow:1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.warningPage .appbar .title{
    color:  #FFF;
    flex-grow:1;
}
.warningPage{
    height: 100%;
    overflow-y: scroll;
}
.settingPage .appbar{
    margin-bottom: 20px;
}
.settingform{
    margin-top: 20px;
    width: 100%;
    margin:  auto;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    padding-top: 20px;
    background: #FFF;
}
.settingform .title{
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.formlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    padding: 10px;
    border-top: 1px solid #EEE;
}
.formlist >div{
    border-bottom: 1px solid #EEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 50px;
}
.formlist >div p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    height: 30px;
    margin: 0;
}
.formlist .ant-select-selection__placeholder{
    height: 28px;
    font-size: 14px;
    line-height: 28px;

}
.formlist .ant-select-selection--multiple .ant-select-selection__rendered{
    border: 1px solid rgba(255,255,255,0);
    height: 28px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}
.formlist .ant-select-selection__placeholder{
    margin-top: -14px;
    font-size: 14px;
    margin-left: 10px;
}
.settingform .button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    height: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.settingform .button a{
    display: block;
    width: 100px;
    background: #60bdaa;
    color: #FFF;
    border-radius: 6px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}



