.historytrackplayback .fa.back{
    font-size:30px;
    padding: 0 20px;
    background-size: #FFF;

}
.historytrackplayback .set{
    border-bottom: 1px solid #EEE;
    padding:20px;
}

.historytrackplayback{
    padding-bottom: 15px;
}
.historytrackplayback .formlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.historytrackplayback .formlist{
	
}