.historytrackplayback .fa.back{
    font-size:30px;
    padding: 0 20px;
    background-size: #FFF;
    position: absolute;
    right: 0;
    top: 20px;
}
.historytrackplayback .set{
    border-bottom: 1px solid #EEE;
    padding:20px;
}

.historytrackplayback .deviceinfo span{
    margin-left: 20px;
}
.historytrackplayback .formlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.historytrackplayback .formlist{
	
}

#historytrackplayback .appbar{
    background: #daf0e1;
    color : #333;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    padding-left: 127px;
    flex-wrap: wrap;
    -webkit-box-align:flex-start ;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    height: auto;
}

#historytrackplayback .appbar>.selcar,
#historytrackplayback .appbar>.Setspeed,
#historytrackplayback .appbar>.anddday,
#historytrackplayback .appbar>.controlbtn{
    margin-bottom: 10px;
}
#historytrackplayback .appbar>.Setspeed{
    margin-left: 0;
    margin-right: 10px;
}

#historytrackplayback .appbar .title{
    background: #FFF;
    color:#333;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}
#historytrackplayback .appbar .deviceinfo_title{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 108px;
}
#historytrackplayback .appbar .day,
#historytrackplayback .appbar .anddday{
    background: #FFF;
    margin-right: 10px;
    height: 60px;
    color : #333;
}
#historytrackplayback .appbar .anddday{
    width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
}
#historytrackplayback  .appbar .controlbtn span{
    background: #e95740;
    color: #FFF;
    border-radius: 0px;
    width: 80px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
#historytrackplayback  .appbar .controlbtn span:first-child{
    background: #6aba9d;
    margin-right:10px;
}
#historytrackplayback .appbar .anddday {
    position: relative;
}
#historytrackplayback .appbar .anddday .daterange{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    background: #FFF;
    position: absolute;
    left:0;
    z-index: 1001;
    opacity: 0;

}
#historytrackplayback .appbar .anddday:after{
    content : "";
    height: 40px;
    width: 1px;
    background: #333;
    position: absolute;
    left: 50%;
    top: 12px;

}

#historytrackplayback .appbar .anddday .seldayli{
    width: 50%;
    font-size:14px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    flex-shrink: 0;
}
#historytrackplayback .appbar .anddday .seldayli .dayinfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    line-height: 20px;
    width: 150px;
    margin: 0 10px;
}
#historytrackplayback .appbar .anddday .seldayli .dayinfo >span{
    display: block;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}
#historytrackplayback .appbar .anddday .seldayli .dayinfo span>span{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
#historytrackplayback .appbar .anddday .seldayli:after{
    content : "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid #333;
    border-top:0;
    border-left:0;
    margin-right: 10px;
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
#historytrackplayback  .selcar {
    background:#FFF;
    height: 60px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
#historytrackplayback .selcar .ant-select{
    border: none;
    height: 26px;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 140px;
    margin-right: 20px;
}
#historytrackplayback  .selcar >span.t{
    margin-left: 15px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    flex-shrink: 0;
}
#historytrackplayback .ant-select-selection--single{
    border: none;
    
}
#historytrackplayback .ant-select-selection--single{
    width: 160px;
}
#historytrackplayback .ant-select-selection__placeholder{
    top:  6px;
}


